In [2]:
import pandas as pd

df = pd.read_csv('../datasets/raw/retrosheet-context.csv')

df.head()

/var/folders/np/f11s751j4dj_y_1cj4yxydpwpsr474/T/ipykernel_62019/483841724.py:3: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../datasets/raw/retrosheet-context.csv')

,eventID,gameID,event_in_game,inning,visitor_or_home,vis_score,home_score,outs,runner_1b,runner_2b,...,field_2B_playerID,field_3B_playerID,field_SS_playerID,field_LF_playerID,field_CF_playerID,field_RF_playerID,comments,theplay,sh_flag,sf_flag
0,0,BLF191404130,1,1,0,0,0,0,NaN,NaN,...,knabo101,walsj101,doolm101,simmh101,zinng101,meyeb103,"""Hanford first hit in Federal League history.""",S9,False,False
1,1,BLF191404130,2,1,0,0,0,0,hanfc101,NaN,...,knabo101,walsj101,doolm101,simmh101,zinng101,meyeb103,NaN,53/SH,True,False
2,2,BLF191404130,3,1,0,0,0,1,NaN,hanfc101,...,knabo101,walsj101,doolm101,simmh101,zinng101,meyeb103,NaN,3/G,False,False
3,3,BLF191404130,4,1,0,0,0,2,NaN,NaN,...,knabo101,walsj101,doolm101,simmh101,zinng101,meyeb103,NaN,8/F,False,False
4,4,BLF191404130,5,1,1,0,0,0,NaN,NaN,...,downt101,smitf103,loudb101,delaf101,hanfc101,bonil101,NaN,K,False,False

In [3]:
df.describe(include='all')

,eventID,gameID,event_in_game,inning,visitor_or_home,vis_score,home_score,outs,runner_1b,runner_2b,...,field_2B_playerID,field_3B_playerID,field_SS_playerID,field_LF_playerID,field_CF_playerID,field_RF_playerID,comments,theplay,sh_flag,sf_flag
count,1.610758e+07,16107578,1.610758e+07,1.610758e+07,1.610758e+07,1.610758e+07,1.610758e+07,1.610758e+07,5275115,3267960,...,16107578,16107578,16107578,16107578,16107578,16107578,136950,16107578,16107578,16107578
unique,NaN,182770,NaN,NaN,NaN,NaN,NaN,NaN,12997,12148,...,5195,5061,5202,5446,4594,5155,91507,37655,2,2
top,NaN,NYN197409110,NaN,NaN,NaN,NaN,NaN,NaN,rosep001,hendr001,...,morgj001,belta001,vizqo001,bondb001,maysw101,clemr101,"""Mound Visit""",K,False,False
freq,NaN,247,NaN,NaN,NaN,NaN,NaN,NaN,6734,4270,...,105385,118733,115908,115512,115973,92903,20388,1750468,15950419,16015599
mean,8.053788e+06,NaN,4.559672e+01,5.275960e+00,4.925697e-01,2.464793e+00,2.357380e+00,9.381736e-01,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,4.649857e+06,NaN,2.738922e+01,2.714618e+00,4.999448e-01,2.667275e+00,2.625525e+00,8.226647e-01,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000e+00,NaN,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,4.026894e+06,NaN,2.300000e+01,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,8.053788e+06,NaN,4.500000e+01,5.000000e+00,0.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.208068e+07,NaN,6.700000e+01,8.000000e+00,1.000000e+00,4.000000e+00,4.000000e+00,2.000000e+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.610758e+07,NaN,2.470000e+02,2.600000e+01,1.000000e+00,3.000000e+01,2.900000e+01,3.000000e+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['eventID', 'gameID', 'event_in_game', 'inning', 'visitor_or_home',
       'vis_score', 'home_score', 'outs', 'runner_1b', 'runner_2b',
       'runner_3b', 'batterID', 'batter_hand', 'pitch_count', 'pitch_sequence',
       'play_orig', 'pitcherID', 'pitcher_hand', 'field_C_playerID',
       'field_1B_playerID', 'field_2B_playerID', 'field_3B_playerID',
       'field_SS_playerID', 'field_LF_playerID', 'field_CF_playerID',
       'field_RF_playerID', 'comments', 'theplay', 'sh_flag', 'sf_flag'],
      dtype='object')

In [10]:
df_matchup = df[['eventID', 'gameID', 'visitor_or_home', 'inning', 'play_orig', 'batterID', 'pitcherID', 'pitch_count', 'pitch_sequence', 'theplay']]
df_matchup

,eventID,gameID,visitor_or_home,inning,play_orig,batterID,pitcherID,pitch_count,pitch_sequence,theplay
0,0,BLF191404130,0,1,S9,hanfc101,quinj102,??,NaN,S9
1,1,BLF191404130,0,1,53/SH.1-2,downt101,quinj102,??,NaN,53/SH
2,2,BLF191404130,0,1,3/G.2-3,loudb101,quinj102,??,NaN,3/G
3,3,BLF191404130,0,1,8/F,bonil101,quinj102,??,NaN,8/F
4,4,BLF191404130,1,1,K,meyeb103,moore103,??,NaN,K
...,...,...,...,...,...,...,...,...,...,...
16107573,16107573,WAS202210020,1,6,K,adamr004,bella001,2,.SC*S,K
16107574,16107574,WAS202210020,1,6,W,thoml002,bella001,32,CBBBFB,W
16107575,16107575,WAS202210020,1,6,D9/G3.1-3,abrac001,bella001,11,BFX,D9/G3
16107576,16107576,WAS202210020,1,6,63/G6.3-H,menej001,bella001,11,BSX,63/G6
16107577,16107577,WAS202210020,1,6,K,voitl001,bella001,12,BCST,K

In [48]:
df_games = pd.read_csv('../datasets/raw/games.csv')
df_games.head()

/var/folders/np/f11s751j4dj_y_1cj4yxydpwpsr474/T/ipykernel_62019/2240059426.py:1: DtypeWarning: Columns (13,14,15,16,82,84,86,88,94,95,96,97,98,99,100,101,106,107,109,110,112,113,115,116,118,119,121,122,124,125,127,128,130,131,133,134,136,137,139,140,142,143,145,146,148,149,151,152,154,155,157,158) have mixed types. Specify dtype option on import or set low_memory=False.
  df_games = pd.read_csv('../datasets/raw/games.csv')

,gameID,date,gameno,dayofweek,visitor,visitor_league,visitor_gameno,home,home_league,home_gameno,...,home_batter7_name,home_batter7_pos,home_batter8_id,home_batter8_name,home_batter8_pos,home_batter9_id,home_batter9_name,home_batter9_pos,misc,acquisition
0,FW1187105040,1871-05-04,0,Thu,CL1,NaN,1,FW1,NaN,1,...,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,D
1,WS3187105050,1871-05-05,0,Fri,BS1,NaN,1,WS3,NaN,1,...,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,D
2,RC1187105060,1871-05-06,0,Sat,CL1,NaN,2,RC1,NaN,1,...,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,D
3,CH1187105080,1871-05-08,0,Mon,CL1,NaN,3,CH1,NaN,1,...,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,D
4,TRO187105090,1871-05-09,0,Tue,BS1,NaN,2,TRO,NaN,1,...,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,D

In [21]:
df_games.columns

Index(['gameID', 'date', 'gameno', 'dayofweek', 'visitor', 'visitor_league',
       'visitor_gameno', 'home', 'home_league', 'home_gameno',
       ...
       'home_batter7_name', 'home_batter7_pos', 'home_batter8_id',
       'home_batter8_name', 'home_batter8_pos', 'home_batter9_id',
       'home_batter9_name', 'home_batter9_pos', 'misc', 'acquisition'],
      dtype='object', length=162)

In [49]:
df_games = df_games[['gameID','date','dayofweek','visitor','home']]
df_games.head()

         gameID        date dayofweek visitor home
0  FW1187105040  1871-05-04       Thu     CL1  FW1
1  WS3187105050  1871-05-05       Fri     BS1  WS3
2  RC1187105060  1871-05-06       Sat     CL1  RC1
3  CH1187105080  1871-05-08       Mon     CL1  CH1
4  TRO187105090  1871-05-09       Tue     BS1  TRO

In [50]:
df_teams = pd.read_csv('../datasets/raw/teams.csv')
df_teams.head()

  teamID  league       city         nickname   yearStart   yearEnd
0    BS1     NaN     Boston           Braves        1871      1875
1    CH1     NaN    Chicago  White Stockings        1871      1871
2    CL1     NaN  Cleveland    Forest Cities        1871      1872
3    FW1     NaN  Ft. Wayne        Kekiongas        1871      1871
4    NY2     NaN   New York          Mutuals        1871      1875

In [52]:
df_games

,gameID,date,dayofweek,visitor,home,teamID,league,city,nickname,yearStart,yearEnd
0,FW1187105040,1871-05-04,Thu,CL1,FW1,CL1,NaN,Cleveland,Forest Cities,1871.0,1872.0
1,WS3187105050,1871-05-05,Fri,BS1,WS3,BS1,NaN,Boston,Braves,1871.0,1875.0
2,RC1187105060,1871-05-06,Sat,CL1,RC1,CL1,NaN,Cleveland,Forest Cities,1871.0,1872.0
3,CH1187105080,1871-05-08,Mon,CL1,CH1,CL1,NaN,Cleveland,Forest Cities,1871.0,1872.0
4,TRO187105090,1871-05-09,Tue,BS1,TRO,BS1,NaN,Boston,Braves,1871.0,1875.0
...,...,...,...,...,...,...,...,...,...,...,...
237257,PHI202211020,2022-11-02,Wed,HOU,PHI,HOU,NL,Houston,Colts,1962.0,2012.0
237258,PHI202211020,2022-11-02,Wed,HOU,PHI,HOU,AL,Houston,Astros,2013.0,2021.0
237259,PHI202211030,2022-11-03,Thu,HOU,PHI,HOU,NL,Houston,Colts,1962.0,2012.0
237260,PHI202211030,2022-11-03,Thu,HOU,PHI,HOU,AL,Houston,Astros,2013.0,2021.0
237261,HOU202211050,2022-11-05,Sat,PHI,HOU,PHI,NL,Philadelphia,Phillies,1883.0,2021.0

In [53]:
df_games.columns

Index(['gameID', 'date', 'dayofweek', 'visitor', 'home', 'teamID', ' league',
       ' city', ' nickname', ' yearStart', ' yearEnd'],
      dtype='object')

In [54]:
df_games = pd.merge(df_games, df_teams, left_on='visitor', right_on='teamID', how='left')   
df_games['visitor_team_name'] = df_games[' city'] + ' ' + df_games[' nickname']
df_games = df_games.drop(columns=['teamID', ' league', ' city', ' nickname', ' yearStart', ' yearEnd'])
df_games.head()

         gameID        date dayofweek visitor home        visitor_team_name
0  FW1187105040  1871-05-04       Thu     CL1  FW1  Cleveland Forest Cities
1  WS3187105050  1871-05-05       Fri     BS1  WS3            Boston Braves
2  RC1187105060  1871-05-06       Sat     CL1  RC1  Cleveland Forest Cities
3  CH1187105080  1871-05-08       Mon     CL1  CH1  Cleveland Forest Cities
4  TRO187105090  1871-05-09       Tue     BS1  TRO            Boston Braves

In [55]:
df_games = pd.merge(df_games, df_teams, left_on='home', right_on='teamID', how='left')   
df_games['home_team_name'] = df_games[' city'] + ' ' + df_games[' nickname']
df_games = df_games.drop(columns=['teamID', ' league', ' city', ' nickname', ' yearStart', ' yearEnd'])
df_games.head()

,gameID,date,dayofweek,visitor,home,visitor_team_name,home_team_name
0,FW1187105040,1871-05-04,Thu,CL1,FW1,Cleveland Forest Cities,Ft. Wayne Kekiongas
1,WS3187105050,1871-05-05,Fri,BS1,WS3,Boston Braves,Washington Olympics
2,RC1187105060,1871-05-06,Sat,CL1,RC1,Cleveland Forest Cities,Rockford Forest Citys
3,CH1187105080,1871-05-08,Mon,CL1,CH1,Cleveland Forest Cities,Chicago White Stockings
4,TRO187105090,1871-05-09,Tue,BS1,TRO,Boston Braves,Troy Haymakers

In [56]:
df_merged = pd.merge(df_matchup, df_games, on='gameID', how='left')
df_merged.head()

,eventID,gameID,visitor_or_home,inning,play_orig,batterID,pitcherID,pitch_count,pitch_sequence,theplay,date,dayofweek,visitor,home,visitor_team_name,home_team_name
0,0,BLF191404130,0,1,S9,hanfc101,quinj102,??,NaN,S9,1914-04-13,Mon,BUF,BLF,Buffalo Blues,Baltimore Terrapins
1,1,BLF191404130,0,1,53/SH.1-2,downt101,quinj102,??,NaN,53/SH,1914-04-13,Mon,BUF,BLF,Buffalo Blues,Baltimore Terrapins
2,2,BLF191404130,0,1,3/G.2-3,loudb101,quinj102,??,NaN,3/G,1914-04-13,Mon,BUF,BLF,Buffalo Blues,Baltimore Terrapins
3,3,BLF191404130,0,1,8/F,bonil101,quinj102,??,NaN,8/F,1914-04-13,Mon,BUF,BLF,Buffalo Blues,Baltimore Terrapins
4,4,BLF191404130,1,1,K,meyeb103,moore103,??,NaN,K,1914-04-13,Mon,BUF,BLF,Buffalo Blues,Baltimore Terrapins

In [57]:
df_merged_after_2020 = df_merged[df_merged['date'] >= '2020-01-01']
df_merged_after_2020.head()

,eventID,gameID,visitor_or_home,inning,play_orig,batterID,pitcherID,pitch_count,pitch_sequence,theplay,date,dayofweek,visitor,home,visitor_team_name,home_team_name
17159469,15596401,ANA202007280,0,1,K,longs001,sandp002,12,BSFC,K,2020-07-28,Tue,SEA,ANA,Seattle Mariners,Anaheim Angels
17159470,15596402,ANA202007280,0,1,53/G56,white005,sandp002,10,BX,53/G56,2020-07-28,Tue,SEA,ANA,Seattle Mariners,Anaheim Angels
17159471,15596403,ANA202007280,0,1,S8/G4M,lewik001,sandp002,31,BBCBX,S8/G4M,2020-07-28,Tue,SEA,ANA,Seattle Mariners,Anaheim Angels
17159472,15596404,ANA202007280,0,1,8/F8XD,seagk001,sandp002,1,1CX,8/F8XD,2020-07-28,Tue,SEA,ANA,Seattle Mariners,Anaheim Angels
17159473,15596405,ANA202007280,1,1,W,fletd002,shefj001,31,BCBBB,W,2020-07-28,Tue,SEA,ANA,Seattle Mariners,Anaheim Angels

In [58]:
df_merged_after_2020.columns

Index(['eventID', 'gameID', 'visitor_or_home', 'inning', 'play_orig',
       'batterID', 'pitcherID', 'pitch_count', 'pitch_sequence', 'theplay',
       'date', 'dayofweek', 'visitor', 'home', 'visitor_team_name',
       'home_team_name'],
      dtype='object')